# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.env
.envrc

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace

# Database
chatobot.db
*.sqlite3

# Logs
*.log

# macOS
.DS_Store

# Python env
.Python

# Secrets
.env

# Others
*.pyc

